<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d1.jpg', alt: 'image'), image_path('d1.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Anchor&apos;s Line, Moon'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d2.jpg', alt: 'image'), image_path('d2.jpg'), data: { lightbox: 'Destiny', title: 'Destiny Headlands Venus'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d3.jpg', alt: 'image'), image_path('d3.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Broken Satellite, Moon'} %>
      </div>
    </div>
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d4.jpg', alt: 'image'), image_path('d4.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Old Russia, Earth'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d5.jpg', alt: 'image'), image_path('d5.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Summoning Pits, Moon'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d6.jpg', alt: 'image'), image_path('d6.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Traveler&apos;s Walk, Tower'} %>
      </div>
    </div>
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d7.jpg', alt: 'image'), image_path('d7.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Hanger, Tower'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('d8.jpg', alt: 'image'), image_path('d8.jpg'), data: { lightbox: 'Journey', title: 'Journey'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('i1.jpg', alt: 'image'), image_path('i1.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Anchor of Light, Moon'} %>
      </div>
    </div>
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('i2.jpg', alt: 'image'), image_path('i2.jpg'), data: { lightbox: 'Destiny', title: 'Destiny - Tower Plaza, Tower'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('saf.jpg', alt: 'image'), image_path('saf.jpg'), data: { lightbox: 'SAF', title: 'Seasons After Fall'} %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= link_to image_tag('bdo1.jpg', alt: 'image'), image_path('bdo1.jpg'), data: { lightbox: 'BDO', title: 'Black Desert Online - Weita Island, Cron Islands'} %>
      </div>
    </div>
    </div><!-- end container -->
